@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I love Doing Nails</h1>
    <br />
    <img src="~/img_0747.jpeg" class="img-fluid" style="max-width: 200px;" alt="Responsive image" />
    <img src="~/img_1353.jpeg" class="img-fluid" style="max-width: 200px;" alt="Responsive image" />
    <img src="~/img_3956.jpeg" class="img-fluid" style="max-width: 200px;" alt="Responsive image" />
    <br />
    <br />

    <p>Nail art, especially working with gel nails, has been an unexpectedly delightful journey for me. What began as a simple attempt to save money back in 2020 turned into something I genuinely love. There's a unique joy in seeing the transformation of my nails from plain to intricately designed works of art. It's incredible how something so small can bring so much happiness. Over time, my skills improved, and soon people were stopping me to ask where I got my nails done. It's a boost to my confidence and a testament to the passion I've poured into this craft. Plus, it's been a wonderful way to earn a little extra cash on the side.</p>
    <p>Working with gel nails has added a new dimension to my nail art journey. The process of carefully applying each layer, curing it under the UV lamp, and marveling at the glossy, long-lasting finish is truly satisfying. There's a sense of accomplishment that comes with knowing my manicure will stay flawless for weeks. But beyond the end result, what I cherish most is the time spent immersed in the creative process. Whether it's indulging in a favorite movie or getting lost in YouTube tutorials, those moments of pure relaxation while perfecting the intricate details on my gel nails are priceless to me. It's become more than just a hobby; it's a form of self-care and expression that brings me immense joy.</p>
</div>
